<form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= f.input :email, placeholder: 'user@domain.com' %>
  <%= f.input :password, autocomplete: "off" %>

  <% if devise_mapping.rememberable? -%>
  <%= f.input :remember_me, as: :boolean %>
  <% end %>

  <%= f.submit "Sign in", class: 'btn' %>
<% end %>
</form>

<%= render "devise/shared/links" %>
