<form class="form-signin">

  <h3 class="form-signin-heading">Please sign in</h3>
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <%= f.input :email, placeholder: 'user@domain.com' %>
    <%= f.input :password, autocomplete: "off" %>
    <% if devise_mapping.rememberable? %>
    <%= f.input :remember_me, as: :boolean, inline_label: 'Remember me', label: false %>
    <% end %>
    <%= f.submit "Sign in", class: 'btn' %>
    
    <%= render "devise/shared/links" %>
  <% end %>

</form>


